<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
  <title>Dashboard</title>
  <meta charset="UTF-8">
  <!-- Add Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <!--Hide internalization-->
  <style>
    iframe.skiptranslate {
      display: none; !important;
    }
    body {
      top: 0 !important;
    }
    footer {
      background-color: lightgray;
      height: 100px;
      left: 0;
      bottom: 0;
      width: 100%;
      padding-left: 1%;
    }
    .pagination {
      margin-top: 2.5%;
    }
    .pagination > a {
      border: solid black;
      margin: auto auto 10px;
    }
    .table-row > a {
      margin-top: 10px;
    }
  </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" th:href="@{/}" translate="no">Travel Agency</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/vouchers/?pageSize=5&pageNumber=0}" sec:authorize="isAuthenticated()">
            Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/vouchers/create}" sec:authorize="hasRole('ADMIN')">Create tour</a>
        </li>
      </ul>
      <nav class="navbar navbar-light bg-light">
        <form class="container-fluid justify-content-start" method="post" th:action="@{/auth/logout}">
          <a th:href="@{/auth/sign-in}" sec:authorize="isAnonymous()" class="btn btn-outline-success me-2">Sign in</a>
          <a th:href="@{/auth/sign-up}" sec:authorize="isAnonymous()" class="btn btn-sm btn-outline-secondary">Sign up</a>
          <a th:href="@{/users/account}" sec:authorize="isAuthenticated()" class="btn btn-outline-success me-2">Account</a>
          <button th:href="@{/auth/logout}" sec:authorize="isAuthenticated()" class="btn btn-sm btn-outline-secondary">
            Hi,<div sec:authentication="name" translate="no">.</div>
            Logout?
          </button>
        </form>
      </nav>
    </div>
  </div>
</nav>
<h1 align="center">Dashboard</h1>

<div class="container">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th scope="col">#ID</th>
      <th scope="col">Voucher Title</th>
      <th scope="col">Description</th>
    </tr>
    </thead>
    <tbody>
    <!-- Fixed loop and columns to match the supposed properties -->
    <!--/*@thymesVar id="vouchers" type="org.springframework.data.domain.Page"*/-->
    <tr th:each="voucher : ${vouchers}">
      <td th:text="${voucher.id}"></td>
      <td th:text="${voucher.title}" translate="no"></td>
      <td th:text="${voucher.description}"></td>
      <td class="table-row" th:with="user=${#authentication.getPrincipal()}">
        <a th:href="@{/vouchers/{voucherId}/order/{userId}(voucherId=${voucher.id}, userId=${user.id})}" class="btn btn-outline-success me-2" type="button"
          th:if="${voucher.getStatus() == 'REGISTERED'}">Order</a>
        <a th:href="@{/vouchers/{voucherId}/update(voucherId=${voucher.id})}" class="btn btn-outline-success me-2" type="button"
           sec:authorize="hasRole('ADMIN')">Update</a>
        <a th:href="@{/vouchers/{voucherId}/delete(voucherId=${voucher.id})}" class="btn btn-outline-success me-2" type="button"
           sec:authorize="hasRole('ADMIN')">Delete</a>
        <br>
        <a th:href="@{/vouchers/{voucherId}/status/hot(voucherId=${voucher.id})}" class="btn btn-outline-success me-2" type="button"
           sec:authorize="hasAnyRole('ADMIN', 'MANAGER')">Change hot status</a>
        <a th:href="@{/vouchers/{voucherId}/status(voucherId=${voucher.id})}" class="btn btn-outline-success me-2" type="button"
           sec:authorize="hasAnyRole('ADMIN', 'MANAGER')">Change status</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div class="pagination">
  <a th:if="${vouchers.hasPrevious()}"
     th:href="${linkPrevious}">
    Previous
  </a>
  <a th:href="@{/vouchers/search/user}" sec:authorize="hasRole('ADMIN')">
    Search by user Id
  </a>
  <a th:href="@{/vouchers/search/tourtype}">
    Search by Tour Type
  </a>
  <a th:href="@{/vouchers/search/transfertype}">
    Search by Type of movement
  </a>
  <a th:href="@{/vouchers/search/price}">
    Search by Price
  </a>
  <a th:href="@{/vouchers/search/hoteltype}">
    Search by Hotel Type
  </a>
  <a th:if="${vouchers.hasNext()}"
     th:href="${linkForward}">
    Next
  </a>
</div>
<footer>
  <p>Select language for the localization:</p>
  <!--Internalization-->
  <div id="google_translate_element">
    <script type="text/javascript">
      function googleTranslateElementInit() {
        let language = navigator.language.substring(0, 2)
        language = language === "ru" ? "uk" : language
        new google.translate.TranslateElement({
          pageLanguage: 'auto',
          includedLanguages : 'en,' + language,
        }, 'google_translate_element');
      }
    </script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
  </div>
  <!--Internalization-->
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
